@media (max-width: 1023px) {
  .burger_menu_btn{
    display: block;
  }
  header .triggers .langs{
    display: none;
  }
  header .uk-position-relative{
    background: url($path + 'banner_info_bg_tablet.png') no-repeat;
    background-position-x: -30px;
    background-position-y: -30px;
  }
  .ser .uk-column-1-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .ser h3{
    margin-bottom: 40px;
  }
  .ser .wrapper{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
  }
  .single_banner{
    background-position-x: -300px;
    background-position-y: bottom;
  }
  .form_grid{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    .uk-width-1-2\@m{
      width: 100%;
    }
    .form_grid_item_form{
      //border-right: none;
    }
    .wrapper_info{
      grid-template-columns: 1fr;
      padding-left: 24px;
      gap: 60px;
      .footer_menu{
        grid-column-start: 1;
        grid-column-end: 4;
        ul{
          padding: 0;
        }
      }
      .descr{
       &:after{
         width: calc(200% + 111px + 30px);
         left: -30px;
       }
      }
    }
  }

}


@media(max-width: 1000px){
  .inner .inner_right .right_img{
    transform: translate(14px, -111px);
  }
  .inner .inner_left{
    margin-top: -16px;
  }

  .inner .inner_left h1:before,
  .inner .inner_left .subtitle:after,
  .inner .inner_left .wrapper_btn:after{
    background-size: contain;
  }
  .inner .inner_left h1:before{
    top: -60px;
  }
  .inner .inner_left .subtitle:after{
    bottom: -60px;
  }
  .inner .inner_left .subtitle{
    margin-bottom: 90px;
  }
  .ser .uk-column-1-2{
    margin-bottom: 40px;
  }
  .form_grid{
    grid-template-columns: 60% 50%;
  }
  .form_grid .form_grid_item_form{
    padding-right: 24px;
  }
  .form_grid .wrapper_info{
    padding-bottom: 60px;
  }
  .form_grid .wrapper_info .descr{
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-top: 61px;
    span{
      br{
        display: none;
      }
    }
  }
  .form_grid .wrapper_info .info{
    gap: 44px;
  }
  .form_grid .form_grid_item_form form textarea{
    height: 300px;
  }
  .banner_descr .subtitle{
    display: none;
  }
  .banner_descr h2{
    margin-bottom: 70px;
  }
  .banner_descr{
    margin-right: 0;
  }
  .case_list .top{
    padding-top: 60px;
  }
}


@media(max-width: 960px){
  .inner .inner_right .right_img{
    transform: translate(14px, -140px);
  }
  .progects_list_items .progects_list_item_slider .text{
    padding-left: 0;
  }
  .progects_list_items .progects_list_item_slider{
    gap: 40px;
  }
  .progects_list_items .progects_list_item_slider{
    //grid-template-columns: 50% 50%;

    //box-sizing: border-box;
    display: flex;
    padding: 24px;
    .text{
      width: 50%;
    }
    .progect_slider{
      width: 50%;

    }
  }
  .progects_list_items .progects_list_item_slider .text .items_list{
    gap: 20px;
  }
  .progects_list_items .progects_list_item_slider .progect_slider .item img{
    height: 324px;
  }
  .progects_list_items .progects_list_item_slider .text .name{
    line-height: 28px;
  }
  .inner{
    section.text{
      margin-top: -140px;
    }
  }
  .progects_list .section_title{
    margin-bottom: 60px;
  }
}


@media (max-width: 731px ) {
  .burger_menu{
    top: 0;
  }
  .form_grid{
    grid-template-columns: 1fr;
  }
  .form_grid .wrapper_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .footer_menu{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
      order: 1;
    }
    .descr{
      grid-row-start:2;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
      order: 1;
      transform: translateY(calc(-100% - 61px));
      padding-top: 0;
      &:after{
        display: none;
      }
    }
    .info{
      order: 3;
    }
  }
  .form_grid .form_grid_item_form,
  .main_form .border_wrapper{
    border: none;
  }
  .main_form:before,
  .case_list:before,
  .case_list .border:before,
  .case_list .border:after,
  .case_list .border_wrapper:before,
  .case_list .border_wrapper:after,
  .case_list .top h3:after{
    display: none;
  }
  .case_list .border{
    border: none;
  }

  .case_list .top{
    grid-template-columns: 1fr;
    h3{
      br{
        display: none;
      }
    }
    .descr{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .arrows_slider{
        margin: 0;
      }
    }
  }
  .location .top{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    h3,
    .subtitle{
      br{
        display: none;
      }
    }
  }
  .ser .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    .image{
      img{
        width: 100%;
      }
    }
  }
  .banner_info{
    padding-left: 0;
    margin: 0 auto 300px auto !important;
    h1{
      text-align: center;
    }
    .btns{
      justify-content: center;
    }
  }

}
@media(max-width: 559px){
  header .uk-position-relative{
    background: url($path + 'header_bg_mob.png')top/contain no-repeat;
  }
  .banner_info .btns{
    flex-direction: column;
  }
  .banner_info h1{
    br{
      display: none;
    }
  }
  .banner_info{
    margin: 0 auto 180px auto !important;
  }
  header .triggers a{
    display: none;
  }
  .banner_descr{

    margin: 0 auto;
  }
  .location .location_map{
    margin-top: 0;
    background: url($path + 'location_map_mob.png')center/contain no-repeat;
    .dot{
      display: none;
    }
  }
  .case_list .top{
    padding-top: 0;
  }
  .case_list .border{
    padding: 0;
  }
  .single_banner .single_banner_info{
    width: 100%;
  }
  .single_banner{
    padding-bottom: 303px;
    background-position-x: -700px;
    background-position-y: 320px;
    background-size: cover;
    background-origin: content-box;
  }
  .form_grid .form_grid_item_form{
    padding: 0;
  }
  .form_grid .wrapper_info,
  {
    padding: 0;
  }
  .form_grid .wrapper_info .descr .social_list{
    gap: 17px;
  }
  .copy{
    padding: 40px 0 80px 0;
    display: flex;
    flex-direction: column;
  }
  .main_form{
    padding: 0;
    margin-top: 80px;
    .form_grid{
      margin-left: 0;
    }
  }
  .location .location_map{
    height: 170px;
  }
  .burger_menu{
    width: calc(80% + 40px);
  }
}
